{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>



    <nav class="navbar navbar-expand-sm bg-success text-light" id="nav">

        <div class="container" id="navBar">

            <button class="navbar-toggler border-light " data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler"></span>
            </button>


            <a href="#." class="navbar-brand  text-light">ImageCapture</a>


            <div class="collapse navbar-collapse" id="navbarCollapse">
                {% if request.user.is_authenticated %}
                <ul class="navbar-nav ml-auto mr-5">
                    <li class="nav-item" {% if section == "dashboard" %} class="selected" {% endif %}> <a
                            href="{%url 'dashboard' %}" class="nav-link text-dark ">My dashboard</a></li>
                    <li class="nav-item" {% if section == "images" %} class="selected" {% endif %}> <a href="#"
                            class="nav-link text-dark">Images</a></li>
                    <!-- dropdown button -->
                    <li class="nav-item " {% if section == "people" %} class="selected" {% endif %}></li>
                    <a href="#" class="nav-link text-dark">People</a>

                    </li>


                </ul>
                {% endif %}
                <ul class="user mr-5 ">
                    {% if request.user.is_authenticated %}
                     Hello {{ request.user.first_name }},
                    <a href="{% url 'logout' %}" class="text-light" >Logout</a>
                    {% else %}
                    <a href="{% url 'login' %}" class="float-right text-light ">Log-in</a>
                    {% endif %}
                </ul>
            </div>
            <hr>
        </div>
        <hr>
    </nav>

    <div class="container m-5">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>